{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{post.image}}" alt="{{post.name}}" />
</div>
<div class="detail__name">
    {% if artist.highly_recommended %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>This Travel location is highly recommended</span>
    </div>
    {% endif %}
    <h1 class="title">{{post.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'post_update' post.pk %}" class="button is-info"> Updates
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="/posts/{{post.id}}/delete" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>

<!-- inside container -->
<div class="detail__attractions mb-5">
    <h3 class="title is-3">Attractions</h3>

    {% for attraction in post.attractions.all %}
        <div class="attraction">
            <span>{{forloop.counter}}</span>
            <span><b>{{attraction.thingstodo}}</b></span>
            <span><b>{{attraction.placestovisit}}</b></span>
            <span>{{attraction.userrating}}</span>
        </div>
    {% empty %}
        <article class="message">
            <div class="message-header">
                <p>No Attractions Available</p>
            </div>
        </article>

    {% endfor %}
</div>
<!--  above about section  -->

    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{post.description}}</p>
    </div>
</div>

{% endblock %}